.categories {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include for-width(-laptop-mac) {
      gap: 20px;
    }

    @include for-width(-mobile-l) {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }

  &__item {
    position: relative;
    overflow: hidden;
  }

  h3 {
    @include adaptive_size("font-size", 29, 18);

    position: absolute;
    left: 50px;
    top: 50px;
    text-transform: uppercase;
    transition: color 0.3s ease-in;

    @include for-width(-laptop-mac) {
      left: 5%;
      top: 30px;
    }
  }

  a {
    font-weight: 500;
    font-size: 29px;

    &::before {
      content: "";
      position: absolute;
      border: 1px solid transparent;
      width: 100%;
      height: 100%;
      background-color: var(--color-black);
      opacity: 0.8;
      transition: opacity 0.3s ease-in-out, border-color 0.3s ease-in;
      cursor: pointer;
    }

    &:focus {
      &::before {
        border-color: var(--color-active);
      }

      h3 {
        color: var(--color-active);
      }
    }

    &:hover {
      &::before {
        opacity: 0.9;
      }
    }
  }

  img {
    height: 100%;
  }
}
