.btn-reset {
  border-color: transparent;
  background-color: transparent;
}

.btn {
  @include flex-all-center;
  @include adaptive_size("font-size", 22, 16);

  border: 1px solid var(--color-active);
  padding: 21px clamp(20px, rem(35), 50px);
  width: fit-content;
  color: var(--color-active);
  background-color: var(--color-white);

  &--reverse {
    color: var(--color-white);
    background-color: var(--color-active);
  }
}
