.btn-reset {
  border-color: transparent;
  background-color: transparent;
}

.btn {
  @include flex-all-center;
  @include adaptive_size("font-size", 22, 18);

  border: 1px solid var(--color-active);
  padding: 21px clamp(20px, rem(35), 50px);
  width: fit-content;
  color: var(--color-active);
  background-color: var(--color-white);
  transition-property: color, background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  cursor: pointer;

  &:focus {
    color: var(--color-white);
    background-color: var(--color-active);
  }

  &:hover {
    color: var(--color-white);
    background-color: var(--color-active);
  }

  &--reverse {
    color: var(--color-white);
    background-color: var(--color-active);
  }
}
