.cart {
  color: var(--color-active);

  &__link {
    @include flex-v-center;

    position: relative;
    cursor: pointer;

    >* {
      position: relative;
      z-index: -1;
    }
  }

  &__icon {
    height: 28px;
    min-width: 30px;
    max-width: 32px;
    /* stylelint-disable-next-line value-keyword-case */
    fill: currentColor;
  }

  &__count {
    @include flex-all-center;

    position: absolute;
    left: -1px;
    bottom: 1px;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    color: var(--color-active);
    background-color: var(--color-white);
  }

  &__price {
    margin-left: 15px;
    white-space: nowrap;
    color: var(--color-white);

    @include for-width(-tablet) {
      display: none;
    }
  }

  &--active {
    color: var(--color-white);

    .cart {
      max-height: 64vh;

      &__icon {
        fill: transparent;
        stroke: var(--color-active);
      }

      &__count {
        color: var(--color-active);
        background-color: var(--color-white);
      }

      &__preview {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.empty-cart {
  color: var(--color-noactive);

  .cart {
    &__price {
      display: none;
    }

    &__preview {
      text-align: center;
    }

    &__count {
      color: var(--color-white);
      background-color: var(--color-active);
    }
  }
}
