.waffen {
  @include flex;

  position: relative;
  flex-direction: column;
  border: 1px solid transparent;
  padding: clamp(20px, rem(30), 30px);
  height: 100%;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  color: var(--color-noactive);
  background-color: var(--color-white);

  &__title {
    color: var(--color-black);
  }

  &__picture {
    position: relative;
    width: 100%;

    img {
      width: 100%;
    }

    span {
      position: absolute;

      &:first-of-type {
        right: 0;
        top: 0;
        padding: 5px 10px;
        color: var(--color-white);
        background-color: var(--color-active);
      }

      &:last-of-type {
        left: 0;
        bottom: 0;
        border: 1px solid var(--color-active);
        padding: 4px 8px;
        color: var(--color-active);
        background-color: var(--color-white);
      }
    }
  }

  &__info {
    @include flex-all-sb;
  }

  &__info-code {
    text-transform: uppercase;
  }



  &__price {
    @include flex-sb;

    align-items: flex-start;
    margin-top: auto;
    margin-bottom: 30px;
  }

  &__price-new {
    margin-bottom: 0;
    color: var(--color-active);
  }

  &__price-old {
    text-decoration: line-through;
  }

  &__btn {
    position: relative;
    z-index: 1;
    border-color: var(--color-black);
    padding: 10px;
    width: 100%;
    font-size: 22px;
    color: var(--color-black);
    cursor: pointer;
  }

  h3 {
    @include flex-v-center;

    margin-bottom: 0;
    min-height: 70px;
    font-size: 22px;
    text-transform: none;
  }

  a {
    display: block;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  >* {
    &:not(:last-child, .waffen__desc, .waffen__price) {
      margin-bottom: 10px;
    }
  }

  &:focus {
    border-color: var(--color-active);
  }

  &:hover {
    border-color: var(--color-active);
  }

  &:active {
    border-color: var(--color-red);
  }

  @include for-width(-laptop) {
    padding: 15px;
  }

  @include for-width(-tablet) {
    padding: 10px;
  }
}
