.coockie {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 10;
  padding: rem(30) rem(50);
  width: 100%;
  max-width: 500px;
  font-size: 18px;
  color: var(--color-black);
  background-color: var(--color-white);

  &__btns {
    @include flex-all-sb;
  }

  &__btn {
    padding: 8px 10px;
    width: 100%;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 15px;
    }

    &:first-child {
      text-decoration: underline;
    }

    &.jb-accept {
      position: relative;
      overflow: hidden;
      padding: 8px 10px;
      width: 100%;
      transition: box-shadow 0.2s ease;
      cursor: pointer;

      &:hover {
        box-shadow: 0 0 5px #000;
      }
    }

    &--border {
      border-color: var(--color-black);
    }
  }

  p {
    margin-bottom: 15px;
  }

  a {
    text-decoration: underline;
    cursor: pointer;
  }

  @include for-width(-mobile-l) {
    right: 5px;
    padding: 15px;
    max-width: 310px;
  }
}
