.mod {
  &__list {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    margin-bottom: rem(34);
    gap: 30px;

    @include for-width(-laptop-mac) {
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    }
  }

  &__text-add {
    margin-bottom: rem(35);
    max-width: 920px;
    letter-spacing: 0.03em;
  }

  &__archiv {
    font-size: 22px;

    &--columns {
      column-count: 3;
      margin-bottom: rem(50);

      @include for-width(-laptop-mac) {
        column-count: 2;
      }

      @include for-width(-mobile-md) {
        column-count: 1;
      }
    }
  }

  &__archiv-list {
    display: grid;
    grid-template-columns: 1.5fr repeat(2, 1fr);
    width: 85%;

    @include for-width(-laptop-mac) {
      width: 100%;
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 20px;
    }

    @include for-width(-mobile-l) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      row-gap: 50px;
    }
  }

  &__archiv-block {
    &:not(:last-child) {
      margin-right: clamp(25px, rem(50), 50px);
    }

    &:first-child {
      grid-row: 1/span 2;
    }

    &:last-child {
      align-self: end;
    }
  }

  &__archiv-item {
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 12px;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background-color: var(--color-active);
    }

    &:not(:last-child) {
      margin-bottom: 22px;
    }

    @include for-width(-tablet) {
      font-size: 20px;
    }
  }

  &__archiv-title {
    white-space: nowrap;
  }

  &__subtitle {
    @include adaptive_size("font-size", 45, 22);

    margin-bottom: 30px;
  }
}
