.nav {
  margin-bottom: clamp(25px, rem(33), 40px);

  &__list {
    @include flex-v-center;

    @include for-width(-tablet) {
      flex-direction: column;
      justify-content: flex-start;
    }
  }

  &__item {
    position: relative;

    &:not(:nth-child(5)) {
      margin-right: clamp(25px, rem(45), 55px);

      @include for-width(-tablet) {
        margin-right: 0;
        margin-bottom: rem(25);
      }

      @include for-width(-mobile-l) {
        margin-bottom: rem(15);
      }
    }

    &:nth-child(2) {
      margin-right: auto;

      @include for-width(-tablet) {
        margin-right: 0;
      }
    }

    &:nth-child(5) {
      @include for-width(-tablet) {
        margin-bottom: rem(25);
      }
    }

    &.deeper {
      position: relative;

      ul {
        position: absolute;
        right: calc(-100% - 1px);
        top: 0;
        z-index: 0;
        width: 100%;
        background-color: var(--color-white);
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
      }

      &:hover,
      &:focus {
        ul {
          opacity: 1;
          visibility: visible;
        }
      }

    }

    &--mob {
      display: none;

      @include for-width(-tablet) {
        display: block;
      }
    }

    @include for-width(-tablet) {
      width: 100%;
    }
  }

  &__link {
    display: block;
    font-size: 22px;
    transition-property: color, background-color;
    transition-duration: 0.2s;
    transition-timing-function: linear;

    &:focus {
      color: var(--color-active);

      @include for-width(-tablet) {
        color: var(--color-white);
        background-color: var(--color-active);
      }
    }

    &:hover {
      color: var(--color-active);

      @include for-width(-tablet) {
        color: var(--color-white);
        background-color: var(--color-active);
      }
    }

    &--dropdown {
      position: relative;
      padding-right: 30px;
      cursor: pointer;

      &::before {
        content: "";
        position: absolute;
        right: 2px;
        top: 50%;
        mask-image: url("../img/sprite.svg#arrow");
        mask-repeat: no-repeat;
        mask-size: contain;
        width: 16px;
        height: 16px;
        /* stylelint-disable-next-line value-keyword-case */
        background-color: currentColor;
        transform: translateY(-50%) rotate(90deg);

        @include for-width(-tablet) {
          right: 15px;
        }
      }
    }

    @include for-width(-tablet) {
      padding: 10px;
    }
  }

  &__dropdown {
    position: absolute;
    top: 20%;
    z-index: 1;
    width: 320px;
    color: var(--color-black);
    background-color: var(--color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10%);
    transition-property: opacity, visibility;
    transition-duration: 0.2s;
    transition-timing-function: ease;

    .nav {
      &__item {
        margin: 0;
      }

      &__link {
        display: block;
        padding: 10px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
          width: 0;
          height: 100%;
          background-color: var(--color-active);
          transition: width 0.2s ease;
        }

        &:focus {
          color: var(--color-white);

          &::before {
            width: 100%;
          }

          +.deeper__btn {
            color: var(--color-white);
          }
        }

        &:hover {
          color: var(--color-white);

          &::before {
            width: 100%;
          }

          +.deeper__btn {
            color: var(--color-white);
          }
        }
      }
    }

    &--active.nav__dropdown {
      opacity: 1;
      visibility: visible;

      @include for-width(-tablet) {
        display: block;
      }
    }

    @include for-width(-tablet) {
      position: relative;
      display: none;
      max-width: 270px;
      transform: translate(0);
    }
  }

  a {
    font-weight: 400;
    font-size: 22px;
    line-height: 1.6;
    letter-spacing: 0.04em;
    text-transform: capitalize;
  }

  &.menu--active {
    transform: translate(0);
  }

  @include for-width(-laptop-mac) {
    margin-bottom: rem(20);
  }

  @include for-width(-tablet) {
    position: absolute;
    left: 0;
    top: calc(var(--header-height) - 1px);
    z-index: -1;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 20px;
    padding-right: 25px;
    padding-left: 25px;
    width: 100%;
    height: calc(var(--vh) - var(--header-height) + 1px);
    max-width: 320px;
    background-color: var(--color-bg);
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out;
  }
}

.deeper {
  &__btn {
    @include flex-all-center;

    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    width: 40px;
    height: 100%;
    color: var(--color-active);

    &::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      mask-image: url("../img/sprite.svg#arrow");
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 20px;
      height: 20px;
      /* stylelint-disable-next-line value-keyword-case */
      background-color: currentColor;
      transform: translate(-50%, -50%);
      transition: background-color 0.3s ease;
    }
  }
}
