.site-map {
  &__pages {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: rem(50) rem(30);

    @include for-width(-laptop-mac) {
      gap: rem(30) rem(10);
    }

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: 1fr;
    }
  }

  &__column {
    &:not(:last-child) {
      margin-right: rem(40);
    }
  }

  &__subtitle {
    margin-bottom: 30px;
    font-size: 29px;
    white-space: nowrap;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(22);
    }
  }

  &__link {
    font-size: 22px;
    text-decoration: underline;
  }
}
