.tabs {
  &__content {
    margin-bottom: clamp(10px, rem(30), 40px);

    @include for-width(-laptop-mac) {
      display: flex;
    }

    @include for-width(-mobile-l) {
      display: block;
    }

    &--search {
      display: block;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;

    @include for-width(-laptop-mac) {
      grid-template-columns: repeat(2, minmax(275px, 420px));
      margin: 0 auto;
    }

    @include for-width(-tablet) {
      gap: 15px;
    }

    @include for-width(-mobile-l) {
      // grid-template-columns: repeat(2, minmax(265px, 1fr));
    }

    @include for-width(-mobile-md) {
      grid-template-columns: 1fr;
      max-width: 375px;
      gap: 25px;
    }
  }

  &__btns {
    @include flex;

    margin-bottom: clamp(10px, rem(30), 40px);

    li {
      &:not(:last-child) {
        margin-right: clamp(15px, rem(30), 30px);

        @include for-width(-laptop) {
          margin-right: clamp(10px, rem(20), 20px);
        }

        @include for-width(-laptop-mac) {
          margin-right: 0;
          margin-bottom: clamp(10px, rem(20), 20px);
        }

        @include for-width(-mobile-l) {
          margin-right: clamp(10px, rem(20), 20px);
          margin-bottom: 0;
        }
      }
    }

    @include for-width(-laptop-mac) {
      position: sticky;
      top: 20px;
      display: block;
      margin-right: 20px;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
      height: fit-content;
      max-width: 230px;
    }

    @include for-width(-mobile-l) {
      position: relative;
      top: 0;
      display: flex;
      margin-right: 0;
      margin-bottom: 20px;
      padding-bottom: 10px;
      max-width: none;
    }
  }

  &__btn {
    border: 1px solid transparent;
    padding: 9px clamp(15px, rem(28), 28px);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--color-gray);
    background-color: var(--color-noactive);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:focus {
      border-color: var(--color-active);
      color: var(--color-active);
      background-color: var(--color-black);
    }

    &:hover {
      border-color: var(--color-white);
      color: var(--color-white);
      background-color: var(--color-black);
    }

    &:active {
      border-color: var(--color-active);
      color: var(--color-active);
      background-color: var(--color-black);
    }

    &--active {
      color: var(--color-active);
      background-color: var(--color-white);
    }

    @include for-width(-laptop-mac) {
      width: 100%;
    }
  }

  &__more {
    @include for-width(-laptop-mac) {
      margin: 0 auto;
      transform: translateX(65%);
    }

    @include for-width(-mobile-l) {
      transform: translateX(0);
    }

    @include for-width(-mobile-md) {
      width: 100%;
    }
  }
}
