.tabs {
  &__content {
    margin-bottom: clamp(10px, rem(30), 40px);

    @include for-width(-laptop-mac) {
      display: flex;
      justify-content: space-between;
    }

    @include for-width(-mobile-l) {
      display: block;
    }

    &--search {
      display: block;
    }
  }

  &__content-list {
    position: relative;
    overflow: hidden;
  }

  &__cards {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition-property: opacity, visibility, transform;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    gap: 30px;

    li {
      position: relative;
      z-index: 5;
    }

    &--active {
      position: relative;
      opacity: 1;
      visibility: visible;
      transform: translate(0);
      animation: carusel-home 0.6s ease;
    }

    @include for-width(-laptop-mac) {
      grid-template-columns: repeat(2, minmax(275px, 420px));
      margin: 0 auto;
    }

    @include for-width(-tablet) {
      gap: 15px;
    }

    @include for-width(-mobile-md) {
      grid-template-columns: 1fr;
      max-width: 475px;
      gap: 25px;
    }
  }

  &__btns {
    @include flex;

    margin-bottom: clamp(10px, rem(30), 40px);

    li {
      &:not(:last-child) {
        margin-right: clamp(15px, rem(30), 30px);

        @include for-width(-laptop) {
          margin-right: clamp(10px, rem(10), 20px);
        }

        @include for-width(-laptop-mac) {
          margin-right: 0;
          margin-bottom: clamp(10px, rem(10), 20px);
        }

        @include for-width(-mobile-l) {
          margin-right: clamp(10px, rem(10), 20px);
          margin-bottom: 0;
        }
      }
    }

    &--catalog.tabs__btns {
      position: relative;
      display: flex;
      margin-bottom: clamp(10px, rem(32), 45px);
      max-width: none;

      li {
        @include for-width(-laptop-mac) {
          &:not(:last-child) {
            margin-right: clamp(15px, rem(30), 30px);

            @include for-width(-mobile-l) {
              margin-right: clamp(10px, rem(20), 20px);
              margin-bottom: 0;
            }
          }
        }
      }
    }

    @include for-width(-laptop-mac) {
      position: sticky;
      top: 20px;
      display: block;
      margin-right: 20px;
      margin-bottom: 0;
      padding: 0;
      width: 100%;
      height: fit-content;
      max-width: 230px;
    }

    @include for-width(-mobile-l) {
      position: relative;
      top: 0;
      display: flex;
      margin-right: 0;
      margin-bottom: 20px;
      padding-bottom: 10px;
      max-width: none;
    }
  }

  &__btn {
    border: 1px solid transparent;
    padding: 9px clamp(15px, rem(28), 28px);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-transform: capitalize;
    color: var(--color-gray);
    background-color: var(--color-noactive);
    transition-property: color, background-color, border-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    cursor: pointer;

    &:hover {
      border-color: var(--color-white);
      color: var(--color-white);
      background-color: var(--color-bg);
    }

    &:active {
      border-color: var(--color-active);
      color: var(--color-active);
      background-color: var(--color-bg);
    }

    &--active {
      color: var(--color-active);
      background-color: var(--color-white);

      &:hover {
        color: var(--color-active);
        background-color: var(--color-white);
      }
    }

    @include for-width(-laptop-mac) {
      width: 100%;
    }
  }

  &__more {
    @include for-width(-laptop-mac) {
      margin: 0 auto;
      transform: translateX(65%);
    }

    @include for-width(-mobile-l) {
      transform: translateX(0);
    }

    @include for-width(-mobile-md) {
      width: 100%;
      max-width: 475px;
    }
  }
}

@keyframes carusel-home {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translate(0);
  }
}
