.single-nav {
  @include flex-all-sb;

  margin-bottom: clamp(20px, rem(35), 50px);
  width: 100%;
  font-size: 18px;
  letter-spacing: 0.06em;

  a {
    position: relative;
    display: flex;
    text-decoration: underline;
  }

  li {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      mask-image: url("../img/sprite.svg#arrow");
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 16px;
      height: 16px;
      background-color: var(--color-white);
    }

    &:first-child {
      margin-right: 20px;

      &::before {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
      }

      a {
        padding-left: 35px;
      }

      @include for-width(-mobile-md) {
        margin-right: 0;
        margin-bottom: 20px;
      }
    }

    &:last-child {
      margin-left: auto;

      &::before {
        right: 0;
        transform: translateY(-50%);
      }

      a {
        padding-right: 35px;

        @include for-width(-mobile-l) {
          text-align: end;
        }
      }

      @include for-width(-mobile-md) {
        margin-left: 0;
      }
    }
  }

  @include for-width(-mobile-md) {
    flex-direction: column;
    align-items: center;
  }
}
