.contact {
  &__list {
    @include flex-sb;

    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;

    @include for-width(-laptop-mac) {
      display: grid;
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: repeat(2, 1fr);
      margin: 0 auto;
      max-width: 900px;
      gap: 30px;
    }

    @include for-width(-mobile-l) {
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      max-width: 450px;
    }
  }

  &__item {
    position: relative;
    padding-left: 40px;

    &::before {
      content: "";
      position: absolute;
      left: 1px;
      top: 0;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 22px;
      height: 20px;
      background-color: var(--color-white);
    }

    a {
      display: block;
    }

    address {
      max-width: 190px;
      line-height: 2.1;
      transform: translateY(-5px);

      @include for-width(-laptop-mac) {
        max-width: none;
      }
    }

    >* {
      display: block;

      &:not(:last-of-type) {
        margin-bottom: 17px;
      }
    }

    &--mail {
      &::before {
        mask-image: url("../img/sprite.svg#mail");
      }
    }

    &--phone {
      &::before {
        left: 4px;
        mask-image: url("../img/sprite.svg#phone");
      }

      @include for-width(-laptop-mac) {
        order: 3;
      }
    }

    &--pin {
      &::before {
        left: 5px;
        top: -2px;
        mask-image: url("../img/sprite.svg#pin");
        width: 26px;
        height: 24px;
      }

      @include for-width(-laptop-mac) {
        order: 2;
      }
    }

    &--schedule {
      &::before {
        top: -1px;
        mask-image: url("../img/sprite.svg#schedule");
        width: 25px;
        height: 22px;
      }

      @include for-width(-laptop-mac) {
        order: 4;
      }
    }
  }
}
