.accessories {
  margin-bottom: clamp(30px, rem(40), 50px);

  &__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: rem(30) rem(20);
  }

  &__link {
    @include flex-all-center;
    @include adaptive_size("font-size", 22, 15);

    white-space: nowrap;
    text-decoration: underline;
    text-transform: capitalize;
    transition: color 0.2s ease;

    &:focus {
      color: var(--color-active);
    }

    &:hover {
      color: var(--color-active);
    }
  }

  &__image {
    margin-left: clamp(15px, rem(25), 35px);
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;

    @include for-width(-laptop-mac) {
      margin-left: 15px;
      max-width: 50px;
    }
  }

  &--waffen {
    .accessories {
      &__list {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));

        @include for-width(-tablet) {
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: rem(50) rem(20);
        }

        @include for-width(-mobile-md) {
          grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
          gap: rem(20);
        }
      }

      &__link {
        @include for-width(-tablet) {
          flex-direction: column;
        }

        @include for-width(-mobile-sl) {
          flex-direction: row;
          align-items: center;
        }

        @include for-width(-mobile-s) {
          flex-direction: column;
        }
      }

      &__image {
        width: auto;
        max-width: none;

        @include for-width(-tablet) {
          margin-top: 15px;
          margin-left: 0;
        }

        @include for-width(-mobile-sl) {
          margin-top: 0;
          margin-left: 15px;
        }

        @include for-width(-mobile-s) {
          margin-top: 15px;
          margin-left: 0;
        }
      }
    }
  }
}
