.accessories {
  margin-bottom: clamp(30px, rem(40), 50px);

  &__list {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: rem(30) rem(20);
  }

  &__link {
    @include flex-all-center;
    @include adaptive_size("font-size", 22, 15);

    white-space: nowrap;
    text-decoration: underline;
    text-transform: capitalize;
  }

  &__image {
    margin-left: clamp(15px, rem(25), 35px);
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: 80px;
    object-fit: contain;

    @include for-width(-laptop-mac) {
      margin-left: 15px;
      max-width: 50px;
    }
  }
}
