.munition {
  margin-bottom: clamp(30px, rem(40), 50px);

  &__columns {
    display: grid;
    grid-template-columns: minmax(400px, 1.8fr) minmax(260px, 1.1fr) minmax(350px, 1.5fr) minmax(260px, 1.2fr);
    gap: rem(30);
  }

  &__title {
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;

    &::after {
      content: "";
      position: absolute;
      right: -50px;
      top: 50%;
      mask-image: url("../img/bullets.svg");
      mask-repeat: no-repeat;
      mask-size: contain;
      width: 30px;
      height: 30px;
      background-color: var(--color-white);
      transform: translateY(-50%);
    }

    @include for-width(-laptop) {
      text-align: center;
    }
  }

  &__list {
    column-gap: 30px;
    justify-self: center;

    li {
      font-size: 18px;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    &[data-column="1"] {
      column-count: 1;
      text-align: center;
    }

    &[data-column="2"] {
      column-count: 2;
      text-align: center;
    }

    &[data-column="3"] {
      column-count: 3;
    }

    &[data-column="4"] {
      column-count: 4;
    }
  }

  a {
    display: inline-block;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
  }
}
