.page {
  height: fit-content;
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
  font-feature-settings: "pnum"on, "lnum"on;
  font-size: 1.3vw;
  line-height: 1.6;
  letter-spacing: 0.04em;
  -webkit-text-size-adjust: 100%;
  color: var(--color-white);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
  overscroll-behavior-y: none;

  &__body {
    margin: 0;
    min-width: 320px;
    min-height: 100%;
  }

  @include for-width(+desktop) {
    font-size: 22px;
  }

  @include for-width(-laptop-mac) {
    font-size: 16px;
  }
}

.site-container {
  @include flex;

  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none !important;
  /* stylelint-disable-line declaration-no-important */
}

.sr-only {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  width: 100%;
  max-width: var(--container-width);
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  overscroll-behavior: none;

  &::before {
    content: "";
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: var(--color-black);
    opacity: 0.3;
  }
}

.fixed {
  position: relative;
  overflow: hidden;
  height: fit-content;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 5;
    width: 100%;
    background-color: var(--color-black);
    opacity: 0.3;
  }
}

.section {
  margin-bottom: clamp(70px, rem(140), 150px);

  @include for-width(-laptop) {
    margin-bottom: clamp(50px, rem(100), 100px);
  }

  @include for-width(-laptop-mac) {
    margin-bottom: clamp(40px, rem(80), 80px);
  }
}

.input-reset {
  border-color: transparent;
  padding: 15px 30px;
  width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  background-color: var(--color-noactive);

  &::placeholder {
    color: var(--color-gray);
  }
}

.logo {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

.main {
  padding-top: rem(185);

  &--clean.main {
    padding-top: 0;
  }

  @include for-width(-laptop-mac) {
    padding-top: rem(150);
  }

  @include for-width(-tablet) {
    padding-top: rem(125);
  }
}

.map {
  position: relative;
  margin: 0 auto;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.4;
  }

  &__image {
    width: 100%;

    @include for-width(-mobile-l) {
      min-height: 300px;
    }
  }
}

.scroll {
  overflow: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  scrollbar-color: var(--color-active) var(--color-white);
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--color-white);
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: var(--color-active);
  }
}

.custom-checkbox {
  @include custom-checkbox;
}

.catalog-filter {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 100vw;
    height: 100%;
    background-color: var(--color-black);
    opacity: 0.4;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
  }
}

.close-icon {
  width: 14px;
  height: 14px;
  stroke: var(--color-black);

  &--cart {
    width: 15px;
    height: 15px;
    stroke: var(--color-white);
  }
}
